body{
    font-family: Arial, sans-serif;
}

#hero{
    height: 100vh;
    background :linear-gradient(to right, #667eea, #764ba2);
}

.nav-link:hover {
    color: #ffc107 !important;
}

.card:hover {
    transform: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}